__pycache__/
*.py[cod]
*.pyd
.Python
.venv/
venv/
env/

.idea/
.vscode/

checkpoints/
checkpoints_multi/
dataset_v2/
dataset_v2_random/
offline_dataset_railgun/
neural_pibt_temp/
pibt_lacam_temp/
rhcr_temp/
run_logs/
visual_outputs/
visual_outputs_rhcr/

*.pth
*.pt
*.ckpt
*.zip
*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk

lacam_win/build/
